node_modules/
.env
.env.local
.env.production
dist/
build/
coverage/
.DS_Store
Thumbs.db

__pycache__/
*.pyc
.venv/
.env
.next

#logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Supabase
.supabase/